{
  "SPN Domain Agent": {
    "bearerAuth": {
      "login_url": "https://<YOUR_HOST>:<YOUR_PORT>/rest/plat/smapp/v1/oauth/token",
      "method": "PUT",
      "request_fields": {
        "grantType": "password",
        "userName": "<YOUR_USERNAME>",
        "value": "<YOUR_PASSWORD>",
        "ipaddr": "*"
      },
      "token_field": "accessSession"
    }
  }
}
